<div class="row">
<aside class="col-md-4">
<section class="user_info">
<%= gravatar_for @user %>
 <span class="user"><%= link_to feed.user.name, feed.user %></span>
  <span class="content">
   <%= feed.content %>
    <%= image_tag feed.image if feed.image.attached? %>
 </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words feed.created_at %> ago.

<%= paginate(@users, window: 2) %>
<ul class="users">
 <%= render @users %>
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>
  <%= render @users %>