<header class="h js__search-activew">
  <div class="h__wrap table-cols__make">
    <div class="h__logo col align__mid"> 
      <div class="search-active__hide">
        <a href="/" class="logo"> 
 <img src="/assets/logo.png" alt="logo" class="img-logo"> 
        </a>
      </div>
    </div>
    <div class="h__nav col">
      <div class="h__pre">
       
      </div>
      <div class="h__main table-cols__make">
        <nav class="h__main-primary h__main-space col search-active__hide">
          <ul>
            <li>
              <a href="#">New ThanksCard</a>
            </li>
            <li>
              <a href="#">Improve</a>
            </li>
            <li>
              <a href="#">Count</a>
            </li>
        <li>
        <%= link_to "Users", users_path %>
        </li>
            <li>
              <a href="#">History</a>
            </li>
            <li>
          <a href="#">Profile</a> 
            </li>


          </ul>
        </nav>
        <nav class="h__main-secondary col align__mid">
          <ul>
            <li class="search__wrap">
              <a href="#" class="icon search__btn">
                <i class="fa fa-fw fa-user" aria-hidden="true"></i>
              </a>
            </li>
            <li class="search__wrap">
              <div class="search__container search-active__show">
                <label for="search" class="sr-only">Search</label>
                <input id="search" name="search" class="search__box" type="text" placeholder="Search...">
              </div>
              <a href="#" class="icon search__btn">
                <i class="fa fa-fw fa-search" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
        
 <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Profile', current_user %></li>
              <li><%= link_to 'Settings', 'edit_user_path(current_user)' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to 'Log out', logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>



      </div>
    </div>
  </div>
</header>